#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
  }
  
  .map-wrapper {
    width: 100%; 
    margin: 60px auto;
    padding: 20px;
    max-width: 1000px;
    background-color: #f1f8e9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  
  .map-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2e7d32;
  }
  :host {
    display: block;
    width: 100%;
    height: 100%;
  }
  