<div class="container">
  <h1>Quản lý sản phẩm </h1>

  <!-- Hàng 1: ô tìm kiếm + nút Tìm kiếm -->
  <div class="row mb-3">
    <div class="col-md-8">
      <input type="text" class="form-control search-input"
             placeholder="Tìm sản phẩm"
             [(ngModel)]="keyword">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="searchProducts()">Tìm kiếm</button>
    </div>
  </div>

  <!-- Hàng 2: SẮP XẾP  -->
  <div class="row mb-3">
    <div class="col-md-8 d-flex align-items-center gap-2">
      <span class="me-2">Sắp xếp:</span>

      <select class="form-select w-auto" [(ngModel)]="sortField">
        <option value="id">Mặc định</option>
        <option value="price">Giá</option>
        <option value="createdAt">Ngày tạo</option>
      </select>

      <select class="form-select w-auto" [(ngModel)]="sortDir">
        <option value="asc">Tăng dần</option>
        <option value="desc">Giảm dần</option>
      </select>

      <button class="btn btn-outline-secondary"
              (click)="searchProducts()">
        Áp dụng
      </button>
    </div>
  </div>

  <!-- Hàng 3: Thêm sản phẩm mới -->
  <div class="row mb-3">
    <div class="col-md-8">
      <button class="btn btn-success" (click)="insertProduct()">Thêm sản phẩm mới</button>
    </div>
  </div>

  <!-- Bảng sản phẩm -->
  <table class="table">
    <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>Tên sản phẩm</th>
      <th>Giá</th>
      <th>Hình minh họa</th>
      <th>Mô tả</th>
      <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    @for(product of products; track product.id) {
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <img [src]="product.url"
             class="rounded-square" alt="Thumbnail"
             width="100" height="100">
      </td>
      <td>{{ product.description }}</td>
      <td>
        <div style="display: flex; gap: 10px;">
          <button class="btn btn-primary"
                  (click)="updateProduct(product.id)">
            Update
          </button>
          <button class="btn btn-danger"
                  (click)="deleteProduct(product)">
            Delete
          </button>
        </div>
      </td>
    </tr>
    }
    </tbody>
  </table>

  <!-- Phân trang-->
  <div class="d-flex justify-content-center">
    ...
  </div>
</div>
